<div class="container">
    <div class="row">
        <div class="card-size col-md-6 col-md-offset-3">
            <div class="card">
                <!-- <div class="card-image">
                    <img class="img-responsive" src="{{jobsShow.job.image}}">
                </div> -->

                <div class="card-content">
                    <span class="card-title">{{ jobsShow.job.title }}</span>
                </div><!-- card content -->
                <div class="card-action">
                  <h4>Description:</h4>
                  <p>{{jobsShow.job.description}}</p>
                  <h4>Time:</h4>
                  <p>{{jobsShow.job.datetime}}</p>
                  <h4>Rate:</h4>
                  <p>£{{jobsShow.job.rate}}ph</p>
                  <h4>Location:</h4>
                  <p>{{jobsShow.job.location}}</p>
                </div>
                <div class="card-action">
                  <h4>Tasker:</h4>
                  <div class="">
                    <a ui-sref="usersShow({id: jobsShow.job.tasker_id})">{{ jobsShow.job.tasker.first_name }} {{ jobsShow.job.tasker.last_name }}</a>
                  </div>
                  <div style="margin-left: 5px; margin-top: 5px" class="row lead">
                    <div id="stars" class="starrr"></div>
                    <span style="font-size: 0px" id="count">0</span>
                  </div>
                </div>
                <div class="card-action">
                    <a ng-if="jobsShow.editToggle" ui-sref="jobsEdit({id: jobsShow.job.id})">Edit</a>
                    <a ng-if="jobsShow.deleteToggle" ng-click="jobsShow.delete()" ui-sref="jobsIndex" target="new_blank">Delete</a>
                    <a ng-if="jobsShow.applicationsToggle" ui-sref="jobApplications({ id: jobsShow.job.id })">Applications</a>
                    <button ng-if="jobsShow.interestedToggle" class="btn btn-new" ng-click="jobsShow.applicationForm()">Apply</button>
                    <button ng-if="jobsShow.completedToggle" class="btn btn-new" ng-click="jobsShow.reviewTasker()">Completed</button>
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
    </div>
</div>

<div ng-if="jobsShow.showApplicationModal">

  <form class="messageForm animated zoomIn" ng-submit="jobsShow.apply()">
    <div class="form-group">
      <input class="form-control requestMessage" type="text" name="requestMessage" ng-model="jobsShow.application.message" placeholder="Write your message here" >
    </div>
    <input class="btn btn-primary btn-block" type="submit" value="Submit">
  </form>
</div>
<div>
  <div ng-if="jobsShow.showReviewModal" class="container">
    <form class="messageForm animated zoomIn" ng-submit="jobsShow.complete()">
      <div class="form-group">
        <input class="form-control requestMessage" type="text" name="reviewMessage" ng-model="jobsShow.review.message" placeholder="Write your message here" >
      </div>
      <div>
        <input class="btn btn-primary btn-block" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
