<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-8">


        <form ng-submit="login.login()" role="form">
          <h4 class="page-header">Email</h4>
          <div class="form-group float-label-control">
            <label for="">Email</label>
            <input class="form-control" type="email" name="email" ng-model="login.user.email" placeholder="Email">
          </div>
          <h4 class="page-header">Password</h4>
          <div class="form-group float-label-control">
            <label for="">Password</label>
            <input class="form-control" type="password" name="password" ng-model="login.user.password" placeholder="Password">
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>

      </div>
    </div>
  </div>
</div>
